/*------------------------------------*/
/* Font Face Declarations            */
/*------------------------------------*/

/* Ubuntu Bold */
@font-face {
    font-family: "Ubuntu";
    src: url("../public/fonts/UbuntuBold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  
  /* Great Vibes Regular */
  @font-face {
    font-family: "Great Vibes";
    src: url("../public/fonts/GreatVibesRegular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  /* Cinzel Bold */
  @font-face {
    font-family: "Cinzel";
    src: url("../public/fonts/CinzelBold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  
  /* Cinzel Regular */
  @font-face {
    font-family: "Cinzel";
    src: url("../public/fonts/CinzelRegular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  /* Ubuntu Sans Regular */
  @font-face {
    font-family: "Ubuntu Sans";
    src: url("../public/fonts/UbuntuSansRegular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  